.green-label{
    background: #36dd22;
    padding: 4px 13px;
    font-weight: 500;
    color: white;
}
.red-label{
    background: #c21c1c;
    padding: 4px 13px;
    font-weight: 500;
    color: white;
}